@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --light-mode: #ccc;
  --dark-mode: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-style: normal;
  color: var(--light-mode);
  font-optical-sizing: auto;
  background-color: var(--dark-mode);
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul>li>a {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  font-weight: 700;
  padding: 0.4rem 2rem;
  border-radius: 0.2rem;
  color: var(--light-mode);
  background-color: transparent;
  border: 1px solid aquamarine;
  font-family: "Josefin Sans", sans-serif;
}

button:focus{
  border: 2px solid blue;
}